*{
    box-sizing: border-box;
    
}

header{
    padding: 40px;
    background-color: rgb(158, 83, 180);
    text-align: center;
    background-clip:border-box;
    background-image: url("cc.jpg");
}
header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: #333;
    overflow: hidden;
}
nav a{
    
    color: rgb(255, 247, 247);
    text-align: center;
    padding: 30px;
    float: left;
    
}
main{
    background-color: rgb(248, 247, 247);
    text-align: center;
}
nav a:hover{
    color:rgb(240, 119, 119);
}
/*nav a:visited{
    color:darkmagenta;
}*/

.assign,.test,.cal{
    border: 1px  black;
    border-width: 10px;
    border-collapse: separate;
    border-radius: 40px;
    font-size: 25px;
   
}
.sub1,.sub2,.sub3,.sub3,.sub4{
    height: 300px;
    width: 250px;
    border-radius: 40px;
    padding: 30px;
    border: 2px 0 black;
    margin: 40px;
    background-color: gainsboro;
    border-spacing: 10px;
    background-image: url("hh.jpg");
   }
   .wrapper a{
       font-size: 20px;
       color:rgb(252, 252, 252);
       font-weight: bold;

   }
   .wrapper a:hover{
       color: rgb(240, 119, 119);
   }
   .sub1{
       float: left;
   }
   .sub2{
       float:right ;
   }
   .sub3{
       float:right;
   }
   .sub4{
       float:inherit;    
       margin-left: 28%;

   }