header{
    padding: 40px;
    text-align: center;
    background-clip:border-box;
    background-image: url("cc.jpg");
}
header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: #333;
    overflow: hidden;
    color: rgb(255, 247, 247);
    text-align: center;
    padding: 30px;
    font-size: 25px;
}
nav a{
    float: left;
    color: white;

}
nav a:hover{
    color: rgb(240, 119, 119);
}
main{
    padding: 10px;
    background-color:rgb(114, 194, 174);
}

table,tr,th,td{
    border: 0px ;
    
    height: 22%;
    width: 45%;
    padding: 15px;
    margin: 30px;
    color: white;
    font-size: 20px;
    font-family:sans-serif;
    background-color: gainsboro;
    border-radius: 40px;
    
}
table{
    float: right;
}
.sub{
    font-size: 25px;
    text-decoration: underline ;
    float: left;

}
th{
    background-image: url("hh.jpg");
    border-radius: 40px;
}